<!DOCTYPE html>
{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<html lang="en">

    <head>
        <title>Q&A</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/7fc836c5c3.js' %}" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'include/navbar.html' %}
        {% block content %} {% endblock %}
        {% include 'include/footer.html' %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>

</html>