<footer>
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between">
            <div class="d-flex flex-row flex-wrap footer-left">
                <div><a href="#">В начало</a></div>
                <div><a href="/">На главную</a></div>
                <div><a href="{% url 'tags_index' %}">Метки</a></div>
                <div><a href="#">Задать вопрос</a></div>
            </div>
            <div class="footer-right">
                <span>© 2020 Raskovalov Dmitry</span>
            </div>
        </div>
    </div>
</footer>